.reg-wrap{
    background: url("../img/bg-4.png") center no-repeat;
    background-size: cover;
}

.form-box{
     margin: 0 auto;
     padding-top: 150px;
     width: 372px;
     text-align: center;
 }

.form-box ul>li{
    position: relative;
}


.form-box #isagreeReg{
    display: none;
}


/*登录*/
.login-wrap{
    background: url("../img/bg-5.png") center no-repeat;
    background-size: cover;
}

/*绑卡*/
.bind-wrap{
    background: url("../img/bg-3.png") center no-repeat;
    background-size: cover;
}

/*账户认证*/
.certify-wrap{
    background: url("../img/bg-2.png") center no-repeat;
    background-size: cover;
}

/*设置交易密码*/
.setpwd-wrap{
    background: url("../img/bg-1.png") center no-repeat;
    background-size: cover;
}

/*表单错误提示框*/
.reg-tip{
    margin-top: 30px;
    width: 100%;
    height: 50px;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    color: #fff;
    line-height: 50px;
    font-size: 20px;
    text-align: left;
    padding-left: 20px;
}

.codeDisabled{
    background: #9a9a9e;
}

/*验证码*/
.verify-code{
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 130px;
    height: 100%;
    background: #00a9f1;
}
.verify-code img{
    width: 100%;
    height: 100%;
}